USE [master]
GO
/****** Object:  Database [ResourceDB]    Script Date: 03/05/2018 09:37:46 ******/
CREATE DATABASE [ResourceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ResourceDB', FILENAME = N'D:\RDSDBDATA\DATA\ResourceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ResourceDB_log', FILENAME = N'D:\RDSDBDATA\DATA\ResourceDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResourceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResourceDB]
GO
USE [ResourceDB]
GO
/****** Object:  User [resource]    Script Date: 03/05/2018 09:37:47 ******/
CREATE USER [resource] FOR LOGIN [resource] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [recovery]    Script Date: 03/05/2018 09:37:47 ******/
CREATE USER [recovery] FOR LOGIN [recovery] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [resource]
GO
ALTER ROLE [db_datareader] ADD MEMBER [resource]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [resource]
GO
ALTER ROLE [db_owner] ADD MEMBER [recovery]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 03/05/2018 09:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](200) NOT NULL,
	[VALOR] [numeric](18, 2) NULL,
	[ID_CATEGORIA] [tinyint] NULL,
	[CODIGO_MANUAL] [nvarchar](50) NULL,
	[OBSERVARCOES] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO_CATEGORIA]    Script Date: 03/05/2018 09:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO_CATEGORIA](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](200) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [numeric](1, 0) NOT NULL,
	[SOBRENOME] [numeric](1, 0) NOT NULL,
	[DATA_NASCIMENTO] [datetime] NOT NULL,
	[EMAIL] [nvarchar](200) NOT NULL,
	[SENHA] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_PRODUTO_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[PRODUTO_CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_PRODUTO_CATEGORIA]
GO
/****** Object:  StoredProcedure [dbo].[PRC_ALTERAR_PRODUTO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_ALTERAR_PRODUTO]
    @ID            BIGINT,
    @DESCRICAO     NVARCHAR(200),
	@VALOR         NUMERIC(18,2),
	@ID_CATEGORIA  TINYINT,
	@CODIGO_MANUAL NVARCHAR(50),
	@OBSERVACOES   NVARCHAR(MAX)
AS
BEGIN
	UPDATE PRODUTO 
	SET DESCRICAO     = @DESCRICAO,
	    VALOR         = @VALOR,
		ID_CATEGORIA  = @ID_CATEGORIA,
		CODIGO_MANUAL = @CODIGO_MANUAL,
		OBSERVARCOES  = @OBSERVACOES
	 WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_ALTERAR_USUARIO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_ALTERAR_USUARIO]
(
    @ID               BIGINT,
	@NOME             NVARCHAR(200),
	@SOBRENOME        NVARCHAR(200),
	@DATA_NASCIMENTO  DATETIME,
	@EMAIL            NVARCHAR(200),
	@SENHA            NVARCHAR(5)
)
AS
BEGIN
	UPDATE USUARIO
		SET NOME            = @NOME,
		    SOBRENOME       = @SOBRENOME,
			DATA_NASCIMENTO = @DATA_NASCIMENTO,
			EMAIL           = @EMAIL,
			SENHA           = @SENHA
	 WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_INCLUIR_PRODUTO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_INCLUIR_PRODUTO]
    @DESCRICAO     NVARCHAR(200),
	@VALOR         NUMERIC(18,2),
	@ID_CATEGORIA  TINYINT,
	@CODIGO_MANUAL NVARCHAR(50),
	@OBSERVACOES   NVARCHAR(MAX)
AS
BEGIN
	INSERT INTO PRODUTO (DESCRICAO, 
	                     VALOR, 
						 ID_CATEGORIA, 
						 CODIGO_MANUAL, 
						 OBSERVARCOES)
		         VALUES (@DESCRICAO,
				         @VALOR,
						 @ID_CATEGORIA,
						 @CODIGO_MANUAL,
						 @OBSERVACOES)
    SELECT @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_INCLUIR_USUARIO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_INCLUIR_USUARIO]
(
	@NOME             NVARCHAR(200),
	@SOBRENOME        NVARCHAR(200),
	@DATA_NASCIMENTO  DATETIME,
	@EMAIL            NVARCHAR(200),
	@SENHA            NVARCHAR(5)
)
AS
BEGIN
	INSERT INTO USUARIO (NOME, SOBRENOME, DATA_NASCIMENTO, EMAIL, SENHA)
			     VALUES (@NOME, @SOBRENOME, @DATA_NASCIMENTO, @EMAIL, @SENHA)
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_LISTAR_PRODUTO_CATEGORIA]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_LISTAR_PRODUTO_CATEGORIA]
(
	@ATIVO BIT
)
AS
BEGIN
	SELECT PC.ID        id,
	       PC.DESCRICAO [desc],
		   PC.ATIVO     ativo 
		FROM PRODUTO_CATEGORIA PC
	 WHERE ATIVO = @ATIVO
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_LISTAR_PRODUTOS]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PRC_LISTAR_PRODUTOS]
AS
BEGIN
	SELECT PROD.ID            id,
	       PROD.DESCRICAO     [desc], 
		   PROD.VALOR         valor,
		   PROD.ID_CATEGORIA  idCategoria,
		   PROD.CODIGO_MANUAL codigoManual,
		   PROD.OBSERVARCOES  observacoes
		FROM PRODUTO PROD
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_LISTAR_USUARIOS]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_LISTAR_USUARIOS]
AS
BEGIN
	WITH TB_USUARIOS AS (
				SELECT USU.ID               id,
				       USU.NOME             nome,
					   USU.SOBRENOME        sobrenome,
					   USU.DATANASCIMENTO   dataNascimento,
					   USU.EMAIL            email,
					   USU.SENHA            senha
				 FROM USUARIOS USU)

	SELECT * INTO #TB_USUARIOS FROM TB_USUARIOS;

	SELECT * FROM #TB_USUARIOS
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_REMOVER_PRODUTO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_REMOVER_PRODUTO]
    @ID            BIGINT
AS
BEGIN
	DELETE FROM PRODUTO WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_REMOVER_USUARIO]    Script Date: 03/05/2018 09:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_REMOVER_USUARIO]
(
    @ID               BIGINT
)
AS
BEGIN
	DELETE FROM USUARIO WHERE ID = @ID
END
GO
USE [master]
GO

USE [ResourceDB]
GO
SET IDENTITY_INSERT [dbo].[PRODUTO_CATEGORIA] ON 
GO
INSERT [dbo].[PRODUTO_CATEGORIA] ([ID], [DESCRICAO], [ATIVO]) VALUES (1, N'Frutas', 1)
GO
INSERT [dbo].[PRODUTO_CATEGORIA] ([ID], [DESCRICAO], [ATIVO]) VALUES (2, N'Carnes', 1)
GO
INSERT [dbo].[PRODUTO_CATEGORIA] ([ID], [DESCRICAO], [ATIVO]) VALUES (3, N'Aves', 1)
GO
SET IDENTITY_INSERT [dbo].[PRODUTO_CATEGORIA] OFF
GO

