<div class="box-home">
    <div class="container">
        <h1>Bem vindo =]</h1>
        <p>Esse é um dos testes de habilidades desenvolvido pelos técnicos da ResourceIT. Nesse teste iremos analisar seus conhecimentos em:</p>
        <ul>
            <li>Orientação a Objetos.</li>
            <li>Lógica de programação.</li>
            <li>SQL Server.</li>
            <li>AngularJS.</li>
            <li>Arquitetura de projeto MVC.</li>
            <li>Inclusão de componentes customizados.</li>
            <li>Correção de Bugs.</li>
            <li>Proatividade.</li>
        </ul>
        <p><a class="btn btn-primary btn-lg" href="Produto" role="button">Começar</a></p>
    </div>
</div>