<div class="page-content" ng-controller="utilController">
    <section id="erro404">
        <div class="row">
            <center>
                <div class="col-md-12 page-404">
                    <i class="icon-close font-size-400 font-red-thunderbird"></i>
                    <div class="font-red-thunderbird"> <h1 class="font-size-200">Ops! Página não encontrada. </h1></div>
                    <div class="details">
                        <p>
                            Desculpe mas a página requerida não foi encontrada nesse servidor. Ela deve ter sido removida ou você deve ter digitado o endereço incorretamente.<br>
                            <br>
                        </p>
                        <div class="btn-group">
                            <a class="btn btn-sm blue text-inherit" ng-click="aoVoltarPagina()">
                                <i class="icon-action-undo"></i>
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </section>
</div>
